      html, body, #mainWindow {
        font-family: sans-serif; 
        height: 100%; 
        width: 100%; 
      }

      html, body {
        margin: 0; 
        padding: 0;
      }
      
      #search {
        display: block;
        position: absolute;
        z-index: 2;
        top: 25px;
        left: 74px;
      }

      #LocateButton {
        position: absolute;
        top: 95px;
        left: 25px;
        z-index: 50;
    }

      .header-text {
        font-size: 30px;
        position: relative;
        top: 20px;
        /*left: 525px; */
        color: rgb(245,60,60);
        font-family: Tahoma;
        font-weight: 200;
      }


      #mainWindow {
        visibility: hidden;
      }